<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form action="https://formsubmit.co/info@dataprojex.de" method="POST">
    <!-- FormSettings -->
    <input type="hidden" name="_next" value="https://zen-banach-1d10ca.netlify.app/">
    <input type="hidden" name="_subject" value="Nachricht von der Kontaktseite">
    <input type="text" name="_honey" style="display:none"> <!-- Against data scrapers, spam protect -->

    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
          <input type="email" name="email" placeholder="Email Address" class="w-100 mb2">
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
